<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Express Session</title>
  </head>
  <body>
    <main>
      <h1>Welcome to <%= sessionName %> Session!</h1>
      <img id="rotate" src="/img/express.svg" alt="Express JS" />
    </main>
    <script src="/js/index.js" defer></script>
  </body>
</html>
